<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <!--<form>-->
  <mat-form-field>
    <input type="text" matInput placeholder="username" [ngModel]="username" value="{{ username }}">
  </mat-form-field>

  <mat-form-field>
    <input type="password" matInput placeholder="password" [ngModel]="password" value="{{ password }}">
  </mat-form-field>


  <button mat-button (click)="login()">login</button>

  
  <!--</form>-->
  
  <!--<router-outlet></router-outlet>-->
  -->
</div>
<a>Here are some links to help you start: </a><br />
<a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a><br />
<a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a><br />
<a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a> <br />

